<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h3>Welcome to Git Hub Viwer</h3>
    <div>
       <div>{{error}}</div>     
       <div>
           <div>
               <input type="search" placeholder="Git User" ng-model="gitUser.username" >
               <input type="button" value="View Profile" ng-click="search()">               
           </div>
           <div>
               <h> countdown :</h>{{countdown}}
           </div>
       </div>
   </div>
         <div>
           <div>
               {{user.login}}
           </div>
           <div>
               {{user.created_at}}
           </div>
           <div>
               <img alt="" ng-src="https://en.gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.login}}">
           </div>
           <table>
               <thead>
               <tr>
                   <th>Name</th>
                   <th>full_name</th>
                   <th>Owner url</th>
               </tr>
               </thead>
               <tbody ng-repeat="repo in repos">
                   <tr>
                   <th><a href="#/repos/{{user.login}}/{{repo.name}}">{{repo.name}}</a></th>
                   <th>{{repo.full_name}}</th>
                   <th>{{repo.owner.url}}</th>
               </tr>
               </tbody>
           </table>
       </div>
  </ion-content>
</ion-view>
